<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="
        d-flex
        align-items-center
        mb-3 mb-md-0
        me-md-auto
        text-dark text-decoration-none
      "
    >
      <span class="fs-4">Sale Tracker</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
  <div class="container">
    <!-- <div class="row">
      <div class="col align-self-start"></div>
      <div class="col align-self-center">
        <input
          id="typeahead-format"
          type="text"
          class="form-control"
          [(ngModel)]="model"
          [ngbTypeahead]="search"
          [resultFormatter]="resultFormatBandListValue"
          #instance="ngbTypeahead"
        />
      </div>
      <div class="col align-self-end"></div>
    </div> -->
    <br />
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
              <!-- <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords"> -->
              <input
                id="typeahead-format"
                placeholder="Search topics or keywords"
                type="text"
                class="form-control form-control-lg form-control-borderless"
                [(ngModel)]="model"
                [ngbTypeahead]="search"
                [resultFormatter]="resultFormatBandListValue"
                #instance="ngbTypeahead"
              />
            </div>
            <!--end of col-->
            <!-- <div class="col-auto">
              <button class="btn btn-lg btn-success" type="submit">
                Search
              </button>
            </div> -->
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div>
</div>
